{% extends 'base.html.twig' %}

{% block title %}Les articles en ligne{% endblock %}

{% block body %}

    <section class="allArticle">

    <div class="container">

    <h1 class="text-center mt-5 mb-5">Liste de vos articles</h1>

    <a href="{{path('register_article')}}" class="mb-5 merci">Mettre un article sur le site</a>

    {% if alls|length > 0 %}

    <div class="table-responsive">
    <table class="table  text-center table-size table-striped table-hover mt-5">
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titre</th>
            <th scope="col">Slug</th>
            <th scope="col">Contenu</th>
            <th scope="col">Image d'illustration</th>
            <th scope="col">Date de création</th>
            <th scope="col">Editer</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for all in alls  %}
        <tr>
            <td>{{ all.id }}</td>
            <td>{{ all.title }}</td>
            <td>{{ all.slug }}</td>
            <td class="cut">{{ all.content| raw  }}</td>
            <td> <img src="{{ vich_uploader_asset(all, 'imageFile')}}" class="size"  alt="{{ all.title }}" ></td>
            <td>Le {{ all.createdAt | date("d/m/Y - H:m") }}</td>
            <td><a href="{{ path('edit_article', { 'id': all.id ,  'slug': all.slug } ) }} ">Editer</a></td>
            <td><a href="{{ path('delete_article', { 'id': all.id } ) }}">Supprimer</a></td>
        </tr>

        {% endfor %}
        </tbody>
        </table>
    </div>
        {% else %}

        <p class="merci">Merci d'ajouter un article !</p>

        {% endif %}
</div>

    </section>


{% endblock %}