{% extends 'base.html.twig' %}

{% block title %}Les articles en ligne{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center mt-5 mb-5">Liste de vos articles</h1>

    <table class="table table-striped table-hover mb-5">
        <thead class="table-warning">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titre</th>
            <th scope="col">Slug</th>
            <th scope="col">Contenu</th>
            <th scope="col">Image d'illustration</th>
            <th scope="col">Date de création</th>
            <th scope="col">Editer</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for all in alls  %}
        <tr>
            <th>{{ all.id }}</th>
            <td>{{ all.title }}</td>
            <td>{{ all.slug }}</td>
            <td>{{ all.content|raw }}</td>
            <td> <img src="{{ vich_uploader_asset(all, 'imageFile')}}" alt="{{ all.title }}" ></td>
            <td>Le {{ all.createdAt | date("d/m/Y - H:m") }}</td>
            <td><a href="{{ path('edit_article', { 'id': all.id ,  'slug': all.slug } ) }} ">Editer</a></td>
            <td><a href="{{ path('delete_article', { 'id': all.id } ) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{path('register_article')}}">Mettre un article sur le site</a>
    
</div>
{% endblock %}