{% extends 'base.html.twig' %}

{% block title %}{{ articleDetail.title }}{% endblock %}

{% block body %}

<section class="detail">
    <div class="container">
        <a href="{{ path('all') }}"><button type="button" class="btn">Retour</button></a>
        <img src="{{ vich_uploader_asset(articleDetail, 'imageFile', 'App\\Entity\\Article') }}" class="detail-header" alt="{{ articleDetail.title }}">
    <div class="resume">
        <h1 class="text-center">{{ articleDetail.title }}</h1>
        <p>{{ articleDetail.content | raw }}</p>
        <p class="date">Publié le {{ articleDetail.createdAt | date('d/m/Y') }} à {{ articleDetail.createdAt | date('H:m') }}  </p>
    </div>
    </div>
</section>

{% endblock %}