{% extends 'base.html.twig' %}

{% block title %}Les articles en ligne{% endblock %}

{% block body %}

<section class="homepage">
    <div class="container">

    <div class="header-top">
        <div class="header-image">
        <img src="{{ asset('/Head/head.png') }}" class="header" alt="header">
        </div>
        <div class="header-title">
        <p class="espace">Découvrez <strong>l'espace</strong> comme jamais auparavant</p>
        </div>
    </div>
         <h1 class="title">Nos articles </h1>
    <div class="row mb-5">
        {% for all in alls %}
        <div class="col-sm-2 col col-lg-4">
            <a href="{{ path('detail_article', { 'id': all.id ,  'slug': all.slug } ) }}">
            <div class="card mb-5">
                <img class="card-img-top" src="{{ vich_uploader_asset(all, 'imageFile', 'App\\Entity\\Article') }}" alt="{{ all.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ all.title | u.truncate(50, '...', false) }}</h5>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>

</section>
{% endblock %}